@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GoodTiming';
  src: local('GoodTiming'),
  url('./assets/fonts/GoodTiming.ttf') format('woff');
}

body {
  @apply bg-slate-900 text-white font-default;
}

.bgImage {
  background-image: url("./assets/graphics/bg.png");
  background-position-y: top;
  background-position-x: right;
  background-size: cover;
  filter: blur(66px) opacity(.2);
  -webkit-filter: blur(66px) opacity(.2);
  width: 100vw;
  height: 30vh;
  position: absolute;
  z-index: -10000;
}

@media (max-width: 1625px) {
  .TOPBAR_LINK {
    @apply hidden;
  }
  .TOPBAR_LINK_BURGER {
    @apply block;
  }
}

@media (max-width: 865px) {
  .LIST_GAP {
    @apply gap-5;
  }
}

@media (max-width: 700px) {
  .LIST_GAP {
    @apply gap-1.5;
  }
}

@media (max-width: 780px) {
  .LOGO_FONT {
    @apply hidden;
  }
}

@media (max-width: 645px) {
  .LOGO {
    @apply mr-8;
  }

  .TOPBAR_LINK_BURGER {
    @apply ml-6;
  }
}

@media (max-width: 480px) {
  .TOPBAR_LINK_BURGER {
    @apply ml-3;
  }
}

@media (max-width: 400px) {
  .TOPBAR_LINK_BURGER {
    @apply ml-1;
  }
}

button[disabled]{
  filter: saturate(0) opacity(.7);
}