<html lang="en" class="h-full dark">
<head>
    <meta charset="UTF-8">
    <title>FDS</title>
    <link rel="stylesheet" href="/style">

    <style>
        ::selection {
            background-color: rgb(79 70 229 / 0.5);
            color: white;
        }

        ::-moz-selection {
            background-color: rgb(79 70 229 / 0.5);
            color: white;
        }
    </style>
</head>
<body class="bg-neutral-900 text-white h-full">
    <p>test</p>
</body>
</html>