<html lang="en" class="h-full dark">
<head>
    <meta charset="UTF-8">
    <title>FDS</title>
    <link rel="stylesheet" href="/style">
    <script src="/wasm_exec"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("/wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>

    <style>
        ::selection {
            @apply bg-indigo-500/50 text-white;
        }

        ::-moz-selection {
            @apply bg-indigo-500/50 text-white;
        }
    </style>
</head>
<body class="bg-neutral-900 text-white h-full">
    <p>test</p>
</body>
</html>